---
layout: default
title: the small data lab
categories:
 - home
---

<div class="row">
	<div class="col-md-8">
		<object class="pull-left biglogo" data="/images/sdl_logo.png" type="image/png"></object>
		<div class="bigtitle logobox">
			the small data lab
		</div>
    <h1>
    <strong>
      You + Your Data
    </strong>
    </h1>

	</div>
	<div class="col-md-4">
		<div class="">
      <a href="/papers/cikm2015">
  		<object style="width: 250px; height: 200px" class="pull-right biglogo" data="/images/papers/cikm15.png" type="image/png"></object>
      </a>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-sm-5">
    <h2>
    We’re creating the apps and infrastructure to put your small data to good use for you.
    </h2>
	</div>

	<div class="col-sm-1">
	</div>

	<div class="col-sm-3">
    <a href="/papers/www2017a">
		<object style="width: 300px; height: 200px;" class="pull-right biglogo" data="/images/papers/www17a.png" type="image/png"></object>
    </a>
	</div>

	<div class="col-sm-3">
    <a href="/papers/www2017b">
		<object style="width: 300px; height: 200px" class="pull-right biglogo" data="/images/papers/www17b.png" type="image/png"></object>
    </a>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/papers/">Recent papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-md-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>
<!--
<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/projects/">Active projects</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for project in site.data.projects limit:4 %}
	<div class="col-md-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-edit fa-fw"></i>
				<a class="off" href="{{ project.url }}">
				{{ project.title }} - {{ project.description }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Updated
				<a class="off" href="{{ project.commits.first.url }}">
				{{ project.commits.first.date | date: "%-d %b %Y" }}
				</a>
				by
				<a class="off" href="{{ project.commits.first.author_url }}">
				{{ project.commits.first.author_login }}
				</a>
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>
 -->
<div class="spacer"></div>
<!--
<div class="row">
	<div class="col-md-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>
 -->
<div class="row">
	<div class="col-md-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="/talks/">Talks</a>
				</li>
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="http://destrin.smalldata.io/">Deborah Estrin</a>
				</li>
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>
