---
layout: default
title: small data lab
categories:
 - home
---
  <div class="row row-centered">

         <div class="col-centered">
          <object class="pull-left biglogo" data="/images/sdl_logo.png" type="image/png"></object>
          <div class="bigtitle logobox">
              small data lab
            <h2>
              <strong>
                You + Your Data
              </strong>
            </h1>
          </div>
  	  </div>

  </div>


{% for project in site.categories.projects limit:4 %}
  {% cycle 'add rows': '<div class="row row-centered">', nil %}
    <div class="col-centered rounded">
      <div class="media">
          <a class="pull-right" href="{{ project.url }}">
            <img width=200 class="media-object" src="{{ project.image }}">
          </a>
        <div class="media-body">
            <div class="smallhead media-heading"><a href="{{ project.url }}" class="off">{{ project.title }}</a></div>
            <p class="note">{{ project.ref }}</p>
          </div>
      </div>
      <!-- <div class="bigspacer"></div>
      <div class="spacer"></div> -->
    </div>
    {% cycle 'close rows': nil, '</div>' %}
{% endfor %}



    <div class="bigspacer"></div>
    <div class="bigspacer"></div>



<div class="row">
  <div class="col-md-8">
        <div class="col-md-12">
            <div class="head">
                <a class="off" href="/papers/">Recent papers</a>
            </div>
            <div class="spacer"></div>
        </div>

    {% for paper in site.categories.papers limit:6 %}
      <div class="col-md-6 reduced-gutter">
          <div class="pad-left">
              <div class="note">
                  <i class="fa fa-file-text-o fa-fw"></i>
                  <a class="off" href="{{ paper.url }}">
              		    {{ paper.title }}
              		</a>
              </div>
              <div class="smallspacer"></div>
              <div class="smallnote">
                  Posted {{ paper.date | date: "%-d %b %Y" }}
              </div>
              <div class="bigspacer"></div>
          </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-md-4 reduced-gutter">
        <a class="twitter-timeline" data-lang="en" data-width="300" data-height="400" href="https://twitter.com/Destrin">Tweets by Destrin</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>



    <div class="spacer"></div>
    <!--
<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/projects/">Active projects</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for project in site.data.projects limit:4 %}
	<div class="col-md-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-edit fa-fw"></i>
				<a class="off" href="{{ project.url }}">
				{{ project.title }} - {{ project.description }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Updated
				<a class="off" href="{{ project.commits.first.url }}">
				{{ project.commits.first.date | date: "%-d %b %Y" }}
				</a>
				by
				<a class="off" href="{{ project.commits.first.author_url }}">
				{{ project.commits.first.author_login }}
				</a>
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>
 -->
    <div class="spacer"></div>
    <!--
<div class="row">
	<div class="col-md-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>
 -->
<div class="row">
    <div class="col-md-12 reduced-gutter">
        <div class="pad-left">
            <ul class="list-inline">
                {% for page in site.categories.misc %}
                <li class="footernav">
                    <i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
                </li>
                {% endfor %}
                <li class="footernav">
                    <i class="fa fa-angle-right"></i> <a class="off" href="/talks/">Talks</a>
                </li>
                <li class="footernav">
                    <i class="fa fa-angle-right"></i> <a class="off" href="http://destrin.smalldata.io/">Deborah Estrin</a>
                </li>
            </ul>
        </div>
        <div class="spacer"></div>
    </div>
</div>
